<footer>
    <div id="rodape">
        <h3>Desenvolvido por Andrei Hoffmann Ferreira</h3>
        <a href="https://www.linkedin.com/in/advogadoandreihoffmann/" target="_blank"> <img
                src="/img/linkedin.png">
        </a>

        <a href="https://github.com/Hoffmann-Ferreira" target="_blank"> <img
                src="/img/logogit.png">
        </a>
    </div>
</footer>