<header>
    <div id="cabecalho">
        <nav>
            <ul id="navegacao">
                <li><a href="/"> Home </a></li>
                <li><a href="/cadastro"> Cadastrar </a></li>
            </ul>
        </nav>
        <img src="https://pokedex.sleduardo.dev/img/logo.svg" alt="Logo pokedex">
    </div>

</header>