<header>
    <div id="cabecalho">
        <nav>
            <ul id="navegacao">
                <li><a href=""> Cadastrar </a></li>
                <li><a href=""> Detalhes </a></li>
            </ul>
        </nav>
        
        <img src="https://pokedex.sleduardo.dev/img/logo.svg" alt="Logo pokedex">
    </div>
    
</header>