<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
</head>
<body>
    <header>
        <div id="cabecalho">
            <img src="https://pokedex.sleduardo.dev/img/logo.svg" alt="Logo pokedex">
        </div>
    </header>
    <main>

    <% pokedex.forEach(elemento=> { %>
        <div id="card">
            <img src="<%= elemento.imagen %> " alt="Pokemon apresentado no site">
            <h2><%= elemento.nome %> </h2>
            <p><%= elemento.descrição %> </p>
        
        </div>
    <% }) %>
   </main>
   <footer>

   </footer>
</body>

</html>