<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https: //fonts.googleapis.com/css2? family= Bowlby+One & display=swap" rel="stylesheet">

</head>
<body>
    <header>
        <div id="cabecalho">
            <nav>
                <ul id="navegacao">
                    <li><a href=""> Cadastrar </a></li>
                    <li><a href=""> Detalhes </a></li>
                </ul>
            </nav>
            
            <img src="https://pokedex.sleduardo.dev/img/logo.svg" alt="Logo pokedex">
        </div>
        
    </header>
    
    <main>

    <% pokedex.forEach(elemento=> { %>
        <div id="card">
            <img src="<%= elemento.imagen %> " alt="Pokemon apresentado no site">
            <h2><%= elemento.nome %> </h2>
            <p><%= elemento.descrição %> </p>
        
        </div>
    <% }) %>
   </main>
   <footer>
       <div id="rodape">
           <h3>Desenvovido por Andrei Hoffmann Ferreira</h3>
           <a href="https://www.linkedin.com/in/advogadoandreihoffmann/" target="_blank"> <img src="https://raw.githubusercontent.com/tomchen/stack-icons/634d5c036a2a7ca0115c94ab2ce86c7e79e01e13/logos/linkedin.svg"> </a>

           <a class="git" href="https://github.com/Hoffmann-Ferreira" target="_blank"> <img src="https://raw.githubusercontent.com/tomchen/stack-icons/634d5c036a2a7ca0115c94ab2ce86c7e79e01e13/logos/github-icon.svg"> </a>


       </div>
   </footer>
</body>

</html>