/* página principal */

* {
  margin: 0;
  padding: 0;
}
body {
  width: 98.9vw;
  height: 100vh;
  background-image: url(https://raw.githubusercontent.com/sleduardo20/pokedex/e382c98424b9fe947cbca363b6e979bc5bdf8db1/public/img/bgPokbola.svg);
  background-size: cover;
  background-color: #f5f5f5;
  font-family: "Bowlby One", cursiva;
}
header {
  height: 15%;
  width: 100%;
}
header #cabecalho {
  width: 100%;
  height: 100%;
  background-color: #cc0000;
  display: flex;
  gap: 16%;
  font-size: larger;
}
header #cabecalho img {
  height: 100%;
}
header nav {
  width: 20%;
  padding: 1%;
  margin-left: 2%;
  display: flex;
  align-items: center;
}
header #navegacao {
  display: flex;
  gap: 10%;
  width: 100%;
}
header #navegacao li {
  list-style: none;
  background-color: #cc0000;
  text-align: center;
}
header #navegacao li a {
  text-decoration: none;
  color: #ebebeb;
  font-size: 1em;
}

main {
  width: 90%;
  min-height: 80%;
  display: flex;
  margin-left: 4%;
  gap: 8%;
  margin-top: 3%;
  margin-bottom: 3%;
}
main section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4%;
  width: 100%;
  height: 100%;
}
main section a {
  display: flex;
  border-radius: 25px;
  background-image: url(/img/fundoCard.jpg);
  width: 20%;
  padding: 2%;
  margin-bottom: 5%;
  text-decoration: none;
  color: #0b0b0b;
}
main section a #card img {
  width: 100%;
  display: flex;
  justify-items: center;
}
footer {
  width: 98%;
  height: 5%;
  padding: 1%;
  background-color: #cc0000;
  display: flex;
}
footer #rodape {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  gap: 8%;
  color: #ebebeb;
}
footer #rodape a {
  height: 90%;
  display: flex;
  justify-content: center;
}
footer #rodape img {
  height: 100%;
}

/* Cadastro */
#cadastro {
  display: flex;
  justify-content: center;
}
#cadastro #formulario {
  display: flex;
  width: 50%;
}
#cadastro #formulario form {
  width: 100%;
}

#cadastro #formulario fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 5%;
  border-radius: 25px;
  background-color: #397cca;
  border: none;
}
#cadastro #formulario fieldset label {
  font-size: 1.1em;
  color: #ebebeb;
}
#cadastro #formulario fieldset input {
  border: none;
  border-radius: 25px;
  margin-bottom: 2%;
  height: 1.2em;
  padding: 1%;
}
#cadastro #formulario fieldset button {
  width: 13%;
  padding: 7%;
  border-radius: 100%;
  border: none;
  background-image: url(/img/pokebolabutton.png);
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-left: 40%;
}
#cadastro #formulario fieldset button img {
  width: 100%;
}
#cadastro #formulario fieldset p {
  color: #ebebeb;
  font-size: 1.5em;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 1%;
}
/* Detalhes */

#detalhes {
  display: flex;
  justify-content: center;
  background-image: url(/img/fundoGeral.jpg);
  background-size: cover;
}
#detalhes .informacoes {
  background-color: #ddddddcc;
  font-size: 1em;
  padding: 1.5%;
  border-radius: 25px;
  margin-bottom: 2%;
}
#detalhes img {
  margin-left: 10%;
}

/* configurando responsividade */
@media only screen and (max-width: 600px) {
  body {
    width: 100vw;
    height: 100vh;
  }
  header #cabecalho img {
    height: 50%;
  }
  main section a {
    display: flex;
    width: 45%;
    padding: 2%;
  }
  footer {
    width: 98%;
    height: 5%;
    padding: 1%;
    padding-top: 2%;
    position: fixed; 
    bottom: 0;
    right: 0;
  }
  #detalhes img {
    width: 80%;
  }
  #detalhes .informacoes {
    width: 80%;
  }
  #detalhes .pokemon{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  #cadastro #formulario {
    width: 80%;
  }

}
